/**General**/

html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'Oswald', sans-serif;
  background: #eee;
  color: #777;}

p
{ padding: 0 0 20px 0;
  line-height: 170.00%;}



h1, h2, h3, h4, h5, h6 
{ font: normal 300% 'Oswald', sans-serif;
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}


h2
{ font: normal 175% 'Oswald', sans-serif;
  color: #FF651D;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% 'Oswald', sans-serif;
  color: #362C20;}

h5, h6
{ font: italic 95% 'Oswald', sans-serif;
  padding: 0 0 15px 0;
  color: #000;}

h6
{ color: #362C20;}

a, a:hover
{ outline: none;
  text-decoration:none;
  color: #F05A00;}

a:hover
{ text-decoration: none;
  color: #b70000;}
#site_content
{ width: 837px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF } 

#site_content {
   padding:0px;
    margin:auto;
  }
#site_content
{ width: 80%;
  overflow: hidden;
  padding: 5% 5% 5% 5%;
  background: #FFF }

#colours
{ height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}


#footer {
 width:80%
 height:75px;
 font: normal 100% 'Oswald', sans-serif;
 background: #444;
 color: #fff;
  text-align:center;
padding:20px;
  font-size: 125%;
}


#footer a {
 color:#fff;
 
}

#footer a:hover {
  color: black;
  text-decoration:none;

}

#footer a.selected {
  color: black;
 text-decoration:none;
}

#logo_text{
  margin-left: 25px;
  margin-right: 25px;
}

.headtitle{
 float: auto;
 font-size: 1.5em;
  float:right;
}

#links a:hover {
  color: #b70000;
}

#links a{
  color: #800000;
  text-decoration: none;
}

#logoex {
  margin-right: 35px;
  
}

.heading {
  text-align: left;
}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}
#main{
  width:100%;
}

#header
{ background: #eee;
  height: 250px;}

#logo
{ width: 825px;
  position: relative;
  height: 168px;
  background: #eee }

#logo #logo_text 
{ position:relative; 
  top: 20px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'Oswald', sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding-left: 55px;
  padding-top: 15px;
  color: #222;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;}

#logo_text h1 a .logo_colour
{ color: #F05A00;}

#logo_text h2
{ font-size: 140%;
color: #222;
padding-left: 10px;}

#menubar
{ width: 90%;
  height: 28%;
  padding-bottom: 0px;
  background: #B20000;
 
} 

ul#menu, ul#menu li{
  float: left;
  margin: 0 auto; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: bold 100% 'Oswald', sans-serif;
  display: block; 
  float: right; 
  height: 37px;
 padding-right:65px;
  padding-left:65px;
  padding-top:25px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
} 

ul#menu li a:hover, ul#menu li.selected a:hover
{ color: #000;
text-decoration:none; }

ul#menu li.selected a {
  color:black;
  text-decoration:none;
}

ul#menu li a:active {
  color: #444;
  background: #ccc;
}


/*index.html*/

.fo {
 padding-bottom:38px; 
}

.lo {
 padding-top:30px; 
}

.sidebar
{ float: right;
  width: 20%;
  padding: 0 15px 20px 15px;}

.invside{
  margin-top:10%;
}

.homepar1{
  color: #000;
  text-align:center;
  font-size:150%;
}

.homepar{
  color: #000;
  text-align:left;
  font-size:125%;
}

.firstpic {
  border: #000 4px solid;
  width:60%;
  
 
}

/*about.html*/

.aboutside
{ float: right;
  width: 300px
  padding: 0 15px 20px 15px;}

.wp{
margin-top:60px;
  margin-bottom:3%;
    margin-left:8%;
  border-color:black;
  border-width:2%;
  border-style:solid;
width: 80%;
height:70%;
}



#about{
  width: 90%;
  margin:0 auto;
  margin-left:10px;
   margin-right:20px;
  color:black;
  font-size:135%;
  line-height: 1.2em;
}

#aboutbody{
  width:90%;
  margin-left:15%;
  margin-right:10%;
}

.aboutpar1{
  color: black;
  margin-left:300px;
  margin-right:600px;
  margin-top:50px;
}

.aboutpar3{
   color: black;
  margin-left:300px;
  margin-right:600px;
  margin-bottom:30px;
}

.aboutpar{
  color: black;
  margin-left:300px;
  margin-right:600px;
}

.abouttitle{
  color:black;
  font-size:200%;
}

.tyfyp{
  font-size:125%;
  text-align:center;
}

/*inventory.html*/
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:20px;padding:15px 10px;border-style:solid;border-width:2px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:20px;font-weight:normal;padding:15px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-yzt1{background-color:#efefef;vertical-align:top}
.tg .tg-r2d3{font-family:"Arial Black", Gadget, sans-serif !important;;background-color:#fd6864;color:#000000;text-align:center;vertical-align:top}
.tg .tg-oskr{background-color:#ffffff;vertical-align:top; }
#inventorytable {padding-bottom:10%;
align-content:center;}     

#invint {
 color:#eee;
}

#inventorytable{
width:70%;
margin-left:15%;
margin-right:15%;
}

table
{ margin: 10px 0 10px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #F0EFE2;
  color: #47433F;
  border-top: 1px solid #FFF;}

.shop {
  border: #000 4px solid;
}



/*contact.html*/

form {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px 'Oswald', sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #8A8D7C;
}
h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
 margin: -10px -15px 30px -10px;;
    color: #888;
}
#hasbeensent {
text-align:center;
}
  
}
h1>span {
    display: block;
    font-size: 11px;
}
label {
    display: block;
    margin: 0px;
}
label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
input[type="text"], input[type="email"], textarea, select {
    border: 1px solid #B9BCAC;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
textarea{
    padding: 5px 3px 3px 5px;
}
select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
textarea{
    height:100px;
}


.thanks{
  margin-top:200px;
  font-size: 2em;
  margin-left:425px;
  margin-right:300px;

  
}

textarea {
    width: 70%;
    height: 50;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    float: right;
    padding-bottom: 100px;
    align-items: baseline;
}

#content
{ text-align: left;
  width:60%;
  padding-left:35px;
  margin-left:15%;
}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

.chead {
  font-size: 40px;
}

.btn {
  background: #b70000;
 font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 23px;
  width:50%;
  height:50px;
margin-left:150px;
  margin-bottom:5px;
  text-decoration: none;
}

.btn:hover {
  background: grey;
 text-decoration: none;
}

.chead{
  width:200px;
  margin:0 auto;
 
 color:black;
}

#name {
  width: 95%;
  margin-bottom: 10px;
}

#mail {
  width: 95%;
  margin-bottom: 10px;
}

#message {
  width: 95%;
  margin-bottom:10px;
  height: 60px;
}



/*location*/

.lochead{
  color:black;
}

.loch1 {
 margin-right:20%;
  margin-left:20%;
  text-align:center;
  color:black;
}


#gmap {
margin-left:17%;

}

.loccap{
  color: black;
  margin-left: 10%;
  margin-right:10%;
  font-size:150%;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align:left;
  width:80%;
 }


/*faq.html*/


.faqp{
margin-left:30%;
margin-right:30%;
width:80%;
margin-top:20px;
color:black;
font-size:250%;
}

#faq{
  
  margin-left:10%;
  margin-right: 10%;
  margin-top:30px;
  font-size:150%;
  color: black;
}

.a{
  margin-bottom:50px;
  
}

.q{
  margin-top:50px;
  color:#b20000;
}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

.sechead{
text-align:center;
  padding-top:50px;
  padding-left:50px;
  padding-right:50px;
  color:black;
  font-size:175%;
  font-weight:bold;
}

#hasbeensent {
text-align:center;
}

